.entry-title {
  text-align: center;
  font-size: 1.8rem;
}

.entry-meta {
}

.entry-meta-layout {
  margin-top: -24px;
  margin-bottom: 28px;
}

@media (max-width: 1024px) {
  .entry-meta-layout {
    margin-bottom: -20px;
  }
}

.social-icon-bar-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .social-icon-bar-mobile {
    display: flex;
    background-color: inherit;
  }
}

@media (max-width: 1024px) {
  .social-icon-bar-mobile a {
    display: inline-block;
    padding: 20px 10px;
    color: #3c3c3c;
    font-size: 18px;
  }
}
