.social-icon-bar {
    position: fixed;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social-icon-bar a {
    display: block;
    text-align: center;
    padding: 5px 15px;
    transition: all .3s ease;
    color: #3c3c3c;
    font-size: 20px;
}

@media (max-width: 1024px){
    .social-icon-bar {
        display: none;
    }

}